<% provide(:title, @group.name) %>
<h1> <%= @group.name %> </h1>
<ul>
  <% if @group.posts.any? %>
    <% @group.posts.each do |post| %>
      <li><%= link_to post.contents.find_by_key("title").value, group_post_path(@group.id, post.id) %></li>
    <% end %>
  <% else %>
    <li><%= t('no_post_message') %></li>
  <% end %>
</ul>

<%= link_to t("members_of_group", name: @group.name), members_path(@group.id) %>
