<% provide(:title, 'Group members') %>
<h1><%= "Members of #{@group.name}"%></h1>

<ul class ="users">
  <% @users.each do |user| %>
    <%= render 'user_listing', user: user %>
  <% end %>
</ul>

<% if signed_in? && !@group.users.include?(current_user) %>
  <%= link_to "Join this group", assign_path(@group.id), class: "btn", method: :post %>
<% end %>
