<% provide(:title, t('members')) %>
<h1><%= t 'members_of_group', name: @group.name %></h1>

<ul class ="users">
  <% @users.each do |user| %>
    <%= render 'user_listing', user: user %>
  <% end %>
</ul>

<% if signed_in? %>
  <% if @group.users.include?(current_user) %>
    <%= link_to t("leave_group"), leave_path(@group.id), class: "btn", method: :delete %>
  <% else %>
    <%= link_to t("join_group"), assign_path(@group.id), class: "btn", method: :post %>
  <% end %>
<% end %>

